@import url('http://fonts.googleapis.com/css?family=Poppins:400,300,500,600|Roboto:400,500');
body {
  max-width: 1240px;
  font-family: poppins;
  margin: auto;
}

header {
  display: inline;
}

.breadcrumb {
  display: flex;
  text-decoration: none;
}

.hijauin {
  font-size: 32px;
  color: #52c41a;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 32px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.top_nav {
  align-items: center;
  display: flex;
  padding: 5px 5px;
  padding-left: 35px;
  height: 96px;
  width: auto;
  position: sticky;
  top: 0;
  text-align: center;
  z-index: 1;
  justify-content: space-between;
  background-color: #fff;
}

.top_nav ul {
  display: flex;
}

.top_nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: black;
  float: center;
}

.top_nav li {
  display: inline;
  list-style-type: none;
  margin-right: 20px;
}

.top_nav li a {
  padding: 15px;
  color: black;
  text-decoration: none;
  display: inline-block;
  /* font-weight: bold; */
}

/* ==================================== breadcrumb ====================================*/

/* Style the list */

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  margin-left: 20px;
}

/* Display list items side by side */

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */

ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: '/\00a0';
}

/* Add a color to all links inside the list */

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ==================================== MAIN ====================================*/

.hero {
  /* background-color: #000; */
  width: 1098px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://res.cloudinary.com/dbmiqiqf4/image/upload/v1682821483/samples/hijauin/hero_jkeu6u.png');
}

.input-box {
  position: relative;
  top: 80px;
  height: 40px;
  max-width: 350px;
  width: 100%;
  background: #ffffff00;
  margin: 0 20px;
  border: 2px solid white;
  border-radius: 35px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.input-box i,
.input-box .btn_search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.input-box i {
  left: 20px;
  font-size: 30px;
  color: #707070;
}

.input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  border: none;
  padding: 0 155px 0 65px;
  background-color: transparent;
}

.input-box .btn_search {
  right: 0px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  border: none;
  padding: 2px 30px;
  /* border: 2px solid white; */
  border-radius: 35px;
  background-color: #4070f400;
  cursor: pointer;
}

.input-box .btn_search:active {
  transform: translateY(-50%) scale(0.98);
}

.icon_search {
  position: absolute;
  left: 5%;
  right: 57.62%;
  top: 20%;
  bottom: 81.35%;
}

/* ==================================== HERO ====================================*/

.article_hero {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  /* margin-bottom: 10px; */
  margin: 20px 0px 20px 0px;
}

.news-article {
  display: flex;
  gap: 10px;
  width: 1120px;
  margin: 10px auto 20px auto;
  flex-direction: column;
}

.article1 {
  display: flex;
  width: 100%;
  height: auto;
}

.col {
  width: 100%;
  padding: 0 10px;
}

.col p {
  color: #8c8c8c;
}

.img-article {
  width: 450px;
  border-radius: 16px;
}

/* ==================================== ARTICLE ====================================*/

article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  /* position: relative; */
  width: 100%;
  display: flex;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: '';
}

/* basic article elements styling */

article p {
  margin: 0 0 18px 0;
  /* font-family: "Bebas Neue", cursive; */
  font-size: 20;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.5s ease-in-out;
}

.article-body {
  padding: 24px;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #28666e;
}

article a:focus {
  outline: 1px dotted #28666e;
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.articles {
  display: grid;
  max-width: 1100px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
  margin-bottom: 20px;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* ==================================== FOOTER ====================================*/

.top-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 22px;
  width: 100%;
  height: 250px;
}

.footer1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  gap: 10px;
  width: 100%;
  height: 220px;
  margin-top: 20px;
}

.footer2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 464px;
  width: 1210px;
  height: 136px;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 324px;
  height: 122px;
}

.title-hijauin {
  margin-top: -5px;
  width: 107px;
  height: 32px;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  color: #52c41a;
}

.subtitle-hijauin {
  margin-top: -20px;
  width: 324px;
  height: 66px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #8c8c8c;
}

.footer-right {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 84px;
  width: 413px;
  height: 134px;
}

.fr-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 126px;
  height: 132px;
}

.fr-menu {
  width: 51px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #141414;
  margin: 0px 0px 0px 0px;
}

.fr-submenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 126px;
  height: 88px;
}

.fr-submenu p {
  margin: -10px 0px 3px 0px;
}

.fr-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 195px;
  height: 132px;
}

.fr-contact {
  width: 129px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #141414;
  margin: 0px 0px 0px 0px;
}

.fr-subcontact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 200px;
  height: 88px;
}

.fr-subcontact p {
  margin: -10px 0px 3px 0px;
}

.bottom-footer {
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: 40px;
  color: #7f91a6;
  background-color: #ffffff;
  justify-content: center;
  font-size: 24px;
  padding: 20px 0;
  font-size: 14px;
}

.legal a {
  text-decoration: none;
  color: #a2b5cd;
  position: relative;
}

.legal > a {
  margin: 0 4px;
  font-weight: 600;
}

.legal > span {
  margin-right: 10px;
}
